<!--create.ejs-->

<form id="theForm" action="/item/create" method="POST">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Item[name]" required>
    </div>
    <div class="form-group">
        <label>Category:</label>
        <select class="form-control" name="Item[category]">
            <option></option>
            <option>Top</option>
            <option>Button</option>
            <option>Outwear</option>
            <option>One-piece</option>
            <option>Suit</option>
            <option>Accessory</option>
            <option>Others</option>
        </select>
    </div>
    <div class="form-group">
        <label>Style:</label>
        <select class="form-control" name="Item[style]">
            <option></option>
            <option>Daily</option>
            <option>Work</option>
            <option>Sport</option>
            <option>Holiday</option>
            <option>Formal</option>
        </select>
    </div>
    <div class="form-group">
        <label>Season:</label>
        <select class="form-control" name="Item[season]">
            <option></option>
            <option>Spring</option>
            <option>Summer</option>
            <option>Autumn</option>
            <option>Winter</option>
        </select>
    </div>
    <div class="form-group">
        <label>Temperature:</label>
        <input type="number" class="form-control" name="Item[temperature]">
    </div>
    <div class="form-group">
        <label>Image:</label>
        <!-- <input type="url" class="form-control" name="Item[image_URL]"> -->
        <input type="file" accept="image/*" multiple="multiple" name="Item[image_URL]"/>
    </div>


    <div class="form-group">
        <label>Remark:</label>
        <textarea type="text" class="form-control" name="Item[remark]" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label>Wind:</label>
        <select class="form-control" name="Item[wind]">
            <option>Please pick one:</option>
            <option>strong</option>
            <option>medium</option>
            <option>weak</option>
        </select>
    </div>
    <div class="form-group">
        <label>Material:</label>
        <input type="text" class="form-control" name="Item[material]">
    </div>
    <div class="form-group">
        <label>Color:</label>
        <input type="text" class="form-control" name="Item[color]">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create</button>

</form>