<!--create.ejs-->
<form action="/item/create" method="POST">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Item[name]" required>
    </div>
    <div class="form-group">
        <label>Category:</label>
        <select class="form-control" name="Item[category]">
            <option>Please pick one:</option>
            <option>Top</option>
            <option>Button</option>
            <option>Coat</option>
            <option>Dress</option>
            <option>Accessory</option>
        </select>
    </div>
    <div class="form-group">
        <label>Style:</label>
        <select class="form-control" name="Item[category]">
            <option>Please pick one:</option>
            <option>Top</option>
            <option>Button</option>
            <option>Coat</option>
            <option>Dress</option>
            <option>Accessory</option>
        </select>
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" name="Item[age]" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>