<!--create.ejs-->
<form id="theForm" action="/item/create" method="POST">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Item[name]" required>
    </div>
    <div class="form-group">
        <label>Category:</label>
        <select class="form-control" name="Item[category]">
            <option>Please pick one:</option>
            <option>Top</option>
            <option>Button</option>
            <option>Coat</option>
            <option>Dress</option>
            <option>Accessory</option>
        </select>
    </div>
    <div class="form-group">
        <label>Style:</label>
        <select class="form-control" name="Item[style]">
            <option>Please pick one:</option>
            <option>Formal</option>
            <option>Casual</option>
            <option>Holiday</option>
        </select>
    </div>
    <div class="form-group">
        <label>Temperature:</label>
        <input type="number" class="form-control" name="Item[temperature]">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    
</form>
