<!--createOutfit.ejs-->

<form id="theForm" action="/outfit/createOutfit" method="POST">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Item[name]" required>
    </div>
    <div class="form-group">
        <label>Style:</label>
        <select class="form-control" name="Item[style]">
            <option></option>
            <option>Daily</option>
            <option>Work</option>
            <option>Sport</option>
            <option>Holiday</option>
            <option>Formal</option>
        </select>
    </div>
    <div class="form-group">
        <label>Season:</label>
        <select class="form-control" name="Item[season]">
            <option></option>
            <option>Spring</option>
            <option>Summer</option>
            <option>Autumn</option>
            <option>Winter</option>
        </select>
    </div>
    <div class="form-group">
        <label>Temperature:</label>
        <input type="number" class="form-control" name="Item[temperature]">
    </div>
    <div class="form-group">
        <label>Image URL:</label>
        <input type="url" class="form-control" name="Item[image_URL]">
    </div>
    <div class="form-group">
        <label>Remark:</label>
        <textarea type="text" class="form-control" name="Item[remark]" rows="3"></textarea>
    </div>
    
    <br>
    <button type="submit" class="btn btn-primary">Create</button>

</form>