<!-- allSizes.ejs-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<input id="inp" type="button" class="btn btn-primary" value="Create New" onclick="location.href='create';" />


<table class="w3-table w3-striped">
    <tr>
        <td>
            <p class="font-weight-bold">Type</p>
        </td>
        <td>
            <p class="font-weight-bold">Size</p>
        </td>
    </tr>
    <% sizes.forEach( function(model) { %>
    <tr>
        <td>
            <%= model.sizeType %>
        </td>
        <td>
            <!-- <a href="/event/detail/<%= model.id %>"> -->
            <%= model.sizeData %></a>
        </td>

    </tr>
    <% }); %>
</table>